---
import '../styles/css/main.css'
---

<header class="index-header">
    <div class="index-header__title-container">
        <h1 class="index-header__title">Armando Ruiz</h1>
        <h2 class="index-header__subtitle">Frontend Developer</h2>
    </div>
    <div class="index-header__profile-image-container">
        <img src="../../public/assets/profile.jpg" alt="profile-image" class="index-header__profile-image">
    </div>
</header>