$primary-font: "Roboto Slab", sans-serif;
$secondary-font: "Roboto Flex", sans-serif;
$font-main-header-big: 5.3rem;
$font-main-header: 4.0rem;
$font-index-menu: 3.6rem;
$font-sub-header: 3.2rem;
$font-header-1: 2.8rem;
$font-header-2: 2.4rem;
$font-header-3: 2.1rem;
$font-common-text: 1.8rem;
$font-common-text-small: 1.5rem;