@use './stylesheets/body';
// @use './stylesheets/'
// @use './stylesheets/'

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100vh;
}


// @use './stylesheets/'
// @use './stylesheets/'
// @use './stylesheets/'