/* 

Hello friend... hello friend?...
anyway...

*/
:root {

    /* --> THE NAVBAR SETTINGS */
        /* Here are all configurations for the component itself */
        /* LAYOUT */
        --Navbar-Display: flex;
        --Navbar-Align-Items: flex-end;
        --Navbar-Justify-Content: space-evenly;
        --Navbar-Gap: 50px;

        /* BOX MODEL */
        --Navbar-Width: 100%;
        --Navbar-Height: auto;
        --Navbar-Margin: ;
        --Navbar-Padding: ;
        --Navbar-border: ;
        --Navbar-border-radius: ;

        /* FONT SETTINGS */
        --Navbar-Font-Family: 'Roboto Flex', sans-serif;
        --Navbar-Font-Color: black;

        /* BACKGROUND SETTINGS */
    /* <-- */
}

/* 
#the-navbar {
    /* layout 
    display: var(--Display);
    align-items: var(--Align-Items);
    justify-content: var(--Justify-Content);
    gap: var(--Gap);

    /* box model 
    width: var(--Width);
    height: var(--Height);
    margin: var(--Margin);
    padding: var(--Padding);
    /* font settings 
    font-family: var(--Font-Family);
} */


