* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    font-family: "Roboto Flex", serif;
    font-size: 1.6rem;
    color: black;
}
h1 {
    text-align: center;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px;
    border-bottom: solid 1px black;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 36px;
}

math-app {
    width: 50%;
}