* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    font-family: "Roboto Flex", serif;
    font-size: 1.6rem;
    color: black;
}
h1 {
    text-align: center;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

math-app {
    width: 50%;
}